<nav class="navbar">
  <a class="navbar-brand" href="">annaboter</a>
  <a class="about" href="#">Who is she?</a>
</nav>

<div class="container">
  <h1>Front-end <br> developer</h1>
  <p>with a passion for making things pretty.</p>
</div>
