<nav class="navbar">
  <a class="navbar-brand" href="">annaboter</a>
  <%= link_to 'Who is she?', about_index_path, id: "about" %>
</nav>

<div class="scroll">
  <div class="container">
    <section class="one">
      <div class="main">
        <h1>Front-end <br> developer</h1>
        <p>with a passion for making things different.</p>
      </div>
    </section>

    <section class="two">
      <div class="card-wrapper">
        <%= link_to projects_index_path do %>
          <div class="card" id="projects"></div>
        <% end %>
        <h2>Projects</h2>
      </div>
      <div class="card-wrapper">
        <%= link_to illustrations_index_path do %>
          <div class="card" id="illustrations"></div>
        <% end %>
        <h2>Illustrations</h2>
      </div>
      <div class="card-wrapper">
        <%= link_to writings_index_path do %>
          <div class="card" id="writings"></div>
        <% end %>
        <h2>Writings</h2>
      </div>
    </section>
  </div>
</div>
