// Specific CSS for your home-page
.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.container {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.one {
  background-image: url("Expand.gif");
  background-size: cover;
  background-position: center right -30px;
}

.main{
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 7rem;
    margin-bottom: 2.5rem;
  }
  p {
    font-size: 3rem;
    margin-left: 155px;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding: 20px;
}

.card {
  width: 365px;
  height: 564px;
  border-radius: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

#projects {
  background-image: url("MacBook_Wallpaper.png");
  background-size: cover;
}

#illustrations {
  background-image: url("Pink_Blob.png");
  background-size: cover;
}

#writings {
  background-image: url("Purple_iPad_Air.png");
  background-size: cover;
}
