.illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    font-size: 6rem;
    padding: 40px 0;
  }
}

.type {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 0 10px 60px;
  h3 {
    padding: 13px;
    background-color: #f2d857;
    border-radius: 12px;
  }
  h3:hover {
    background-color: #d9c24e;
    transition: background-color 0.3s ease-in-out;
  }
}

.intro {
  width: 580px;
  text-align: justify;
}

.art-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 50px;
  }
}

.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 200px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 30px;
    }
  }
  img {
    width: 400px;
    height: 400px;
  }
  .pink {
    img {
      width: 100%;
    };
  }
  .bootcampcat {
    img {
      width: 100%;
    }
  }
  .love {
    img {
      height: 500px;
      rotate: 180deg;
    }
  }
  .red-blob {
    img {
      height: 500px;
    }
  }
}
