<nav class="navbar">
  <%= link_to 'annaboter', root_path, class: "navbar-brand" %>
</nav>

<main>
  <section>
    <div class="container">
      <h1>TwoGather</h1>
      <div class="info-flex">
        <div>
          <p>Made in two weeks during the Le Wagon web dev bootcamp, TwoGather is an web app pitched by me to promote community and real human connection. Together with two amazing teammates, Vincent Bohec and Zlatko Naumoski, we created a human first web app. <a href="https://two-gather-aeeb96d61d6a.herokuapp.com/">Try it out yourself!</a></p>
          <p>The idea of this app came to me after cooking dinner for a good friend who also happens to be my housemate. I noticed how a simple act of spontaneously inviting someone to join dinner can really help someone out and be very fulfilling. Everyday tasks such as feeding yourself, cleaning the house, and other daily household tasks can be really challenging depending on one's situation.</p>
        </div>
        <div>
          <p>How many of us have been in a situation where they had been limited in their ability to keep up with the house or themselves? How often do we feel ashamed of not being able to complete those "easy" tasks by ourselves? I want to lift that burden. Thus this app was born!</p>
          <p>With TwoGather, you can either be the friendly neighborhood helper, or the helpee. By focussing on your specific location, you have a chance to connect to neighbors who are asking for help or providing help. Ultimately, getting your request fulfilled is the main goal, however, twogether, we can build a thriving and strong community based on trust and good relationships.</p>
        </div>
      </div>
    </div>
    <div class="scroll-down-flex">
      <div id="scroll-down">
        <p>scroll down</p>
      </div>
    </div>
  </section>
  <div class="sticky-parent">
    <div class="sticky">
      <div class="scroll-section"></div>
    </div>
  </div>

  <section>
    <div class="container">
      <h1>Airbnbooks</h1>
       <p>As a real first project challenge, in one week during the Le Wagon web dev bootcamp, me and my teammates made a fun Airbnb clone website that, instead of renting apartments, rents out books!</p>
    </div>
  </section>
  <div class="sticky-parent">
    <div class="sticky">
      <div class="scroll-section"></div>
    </div>
  </div>

  <section>
    <div class="container">
      <h1>PCTN Game</h1>
      <p>One of my proudest achievements and a true example of what I stand for. This "choose your own adventure game" was a result of coming up for a fun, engaging, and innovative way of presenting centain concept and stories for the course Postcolonial Transitions and Transnational Justice during my MA Gender Studies.</p>
      </div>
  </section>
  <div class="sticky-parent">
    <div class="sticky">
      <div class="scroll-section"></div>
    </div>
  </div>
</main>
