<nav class="navbar">
  <%= link_to 'annaboter', root_path, class: "navbar-brand" %>
</nav>


<div class="projects">
  <div class="project" id="twogather">
    <img src="" alt="">
    <h2>TwoGather</h2>
    <p>Made in two weeks during the Le Wagon web dev bootcamp, TwoGather is an web app pitched by me to promote community and real human connection.</p>
  </div>

  <div class="project" id="airbnbook">
    <img src="" alt="">
    <h2>Airbnbook</h2>
    <p>As a real first project challenge, in one week during the Le Wagon web dev bootcamp, me and my teammates made a fun Airbnb clone website that, instead of renting apartments, rents out books!</p>
  </div>

  <div class="project" id="pctn">
    <img src="" alt="">
    <h2>PCTN Game</h2>
    <p>One of my proudest achievements and a true example of what I stand for. This "choose your own adventure game" was a result of coming up for a fun, engaging, and innovative way of presenting centain concept and stories for the course Postcolonial Transitions and Transnational Justice during my MA Gender Studies.</p>
  </div>
</div>
