<nav class="navbar">
  <%= link_to 'annaboter', root_path, class: "navbar-brand" %>
  <%= link_to 'Who is she?', about_index_path, id: "about" %>
  <%= link_to 'Email me', 'mailto:annabothe0@gmail.com', id: "email" %>
</nav>

<div class="about">
  <div class="photo-wrapper">
    <div class="photo top"></div>
    <div class="photo left"></div>
    <div class="photo right"></div>
  </div>

  <div class="info-wrapper">
    <h1>Hi, <br> I'm Anna.</h1>
    <p id="info">With a passion for fashion and an eye for style, I decided to take my creativity to the web and switch careers to become a web developer. I have always loved exploring fun and creative websites of the late 2000's that try to tell a story. I am aspiring to do the same, telling stories, educating, and making people feel something whiles scrolling through my websites. Being creative and trying to do things differently are my second nature. I have always strayed from the normative path laid out in front of me and pursued my own interested. Hence why I delved into a full stack bootcamp at Le Wagon despite my heavy academic background. This is only the beginning of me making websites that people love to keep scrolling through.</p>
  </div>
</div>
